.alert{
    display: none;
    position : fixed;
    top : -150px;
    width: 300px;
    z-index: 99999;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
#deleteForm, #editForm, #restoreHistory{
    float: right;
}
.btnBlue{
    background-color: #223b82;
    border-color: #223b82;
}
.btnBlue:hover{
    background-color: #2442a4;
    border-color: #2442a4;
}
.btnBlue:active{
    background-color: #223b82;
    border-color: #223b82;
}
.btnBlue:visited{
    background-color: #223b82;
    border-color: #223b82;
}

.news-div{
    /*border: 1px solid lightgray;*/
    border-radius: 6px;
    margin: 10px 0;
    height: 250px;
}
.news-div-inner{
    border: 1px solid lightgray;
    border-radius: 7px;
}
.article-img{

}
#description-article{
    height: 40px;
    overflow: hidden;
}
/*#myModal{*/
    /*position: relative;*/
/*}*/
#preloader-article{
    display: none;
    position: absolute;
    left: 50%;
    top: 20%;
    z-index: 999;
    transform: translate(-50%, -50%);
}

#frame-container{
    position: relative;
}
#music-frame{
    margin: 0 auto;
    display: block;
}